
<!--================Header Menu  =================-->
<header class="">  
  <nav class=" ">
      <div class="">
        <div class="page-header  row col-md-12 ">
          <div class="col-md-1 icon th-list text-align-center"></div>
          <div class="col-md-1 icon search text-align-center"></div>
          <div class="col-md-8 icon logo text-align-center"></div>
          <div class="col-md-1 link text-align-center">Account</div>
          <div class="col-md-1 icon notification text-align-center"><span class="badge">4</span></div>
      </div>
      </div>
    </nav>
</header>
<!--================Header Menu =================-->
