<footer class="section_overflow ">
    <div class="row page-footer">
        <div class="">
        <!-- <p class="p-2">Copyright © Minim Website 2016</p>        -->
         <span class="copyright">© Copyright Minim 2016</span>
        </div>
        <div class=" ">
                    <ul class="footer_menu">
                    <li>First</li>
                    <li>Second</li>
                    <li>Third</li>
                    <li>Fourth</li>
                    <li>Fifth</li>
                    <li>Sixth</li>
                </ul>
        </div>
        <div class="socials">
                <div class="" >
                  <a href="#" class="p-1" style="border-radius: 50%;">
                    <img src="assets/img/social/facebook.svg" style="max-width: 2em;">
                  </a>
                  <a href="#" class="p-1">
                    <img src="assets/img/social/linkedin.svg" style="max-width: 2em;">
                  </a>
                  <a href="#" class="p-1">
                    <img src="assets/img/social/twitter.svg" style="max-width: 2em;">
                  </a>
                </div>
        </div>
    </div>
</footer>