<!--trigger modal -->
<div class="container-fluid">
<button type="button" class="btn btn-outline-dark float-right" data-toggle="modal" data-target="#exampleModal">
    Shop Now
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
      <div class="modal-content">
        <div class="p-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                
                  
                    <div class="row col-sm-12">
                      <div class="col-md-6 align-middle p-1">
                        <img src="assets/img/pop-up/cat-post-2.jpg" alt="Help" >
                      </div>
                      <div class="col-sm-6 align-middle pl-3">
                        <h1> Need Help ?</h1>
                        <p>start a live call with us now to have us attend to any of your enquiries</p>
                        <br>
                        <div class="row">
                            <button type="button" class="btn btn-dark m-1" data-toggle="modal" data-target="#exampleModal">
                            Start Live Chat
                            </button>
                            <button type="button" class="btn btn-underline m-1" data-toggle="modal" data-target="#exampleModal">
                            Request for call back
                            </button>
                        </div>
                      </div>
                    </div>
                  
                
              </div>
        </div>
        <div class="p-2">
          </div>
      </div>
    </div>
  </div>