<!--================Category Product Area =================-->
<section class="cat_product_area section_gap" >
  <div class="container-fluid">
    <div class="row flex-row-reverse">
      <div class="col-lg-12 {{ reversPagination}}">
        <div class="product_top_bar">
          <div class="left_dorp">
           <span class="bold-text">
            {{ title }}
          </span> 
            <span class="shop-text">
            {{ section }}
          </span>
          </div>
          <div class="right_page ml-auto">
            <nav class="cat_page" aria-label="Page navigation example">
              <pagination-controls   responsive="true" class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </nav>
          </div>
        </div>

        <div class="latest_product_inner row col-md-12" >


          <div class="col-lg-3 col-md-3 col-sm-6 pb-4" *ngFor="let prod of produit | paginate: { itemsPerPage: 8, currentPage: p }">
            <div class="product">
              <div class="">
                <img class="img-fluid" src="assets/img/product/{{prod.image}}" alt="">
                <div class="shop full-width">
                  <a href="#" >Shop Now</a>
                </div>
              </div>
             <div class="row pt-5">
                <a href="#" class=" col-6 col-lg-6 col-md-6 col-sm-6">
                  <h4 class="name">{{prod.nom}}</h4>
                </a>
                <h5 class=" col-6 col-lg-6 col-md-6 col-sm-6">{{prod.description}}</h5>
              </div>
              <h6>{{prod.prix | currency:'USD'}}</h6>
            </div>
          </div>



        </div>




      </div>

    </div>


  </div>
</section>
<!--================End Category Product Area =================-->




