/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body{
  font-family: "Muli", sans-serif;
}
.section_gap {
  padding: 120px 0px;
  overflow: hidden; }

  @media (max-width: 1224px) {
    .section_gap {
      padding: 60px 0px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

.container-fluid {
  margin: 0px !important;
  padding: 0px 8% !important; }
  @media (max-width: 1224px) {
    .container-fluid {
      padding: 0px 15px !important; } }

.cat_product_area .latest_product_inner {
  padding-top: 30px;
  margin-bottom: -50px; }

  // product top bar

  .product_top_bar {
    /* background: #f9f9ff; */
    clear: both;
    display: flex;
    padding: 10px 20px; 
  }
 
.latest_product_inner {
  margin-bottom: -35px;
 }
.bold-text{
  color: #000000;
  font-size: 23px;
  font-weight: 900;
}
.shop-text{
  color: #999999;
  font-size: 20px;
  font-weight: 600;
  margin-left: 2em;
  text-transform: uppercase;
} 

